body {
    width: 80%;
    min-width: 100vh;
    border: 1px solid red;
    margin: 0 auto;
    display: grid;
    grid-template-columns: ;
    grid-row: ;
    grid-template-areas: "nav" "" "info" "" "footer footer footer";
}