* {
    margin: 0;
    padding: 0;
}

.wrapper {
    color: grey;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

header {
    background-color: black;
    padding: 1rem 0;
}

nav {
    text-align: right;
}

nav a {
    color: white;
    padding: 2px;
}

main {
    width: 75%;
}

aside {
    width: 25%;
    background-color: grey;
    padding: 10px;
    height: 100%;
}

.flex {
    display: flex;
}

h2 {
    color: black;
}

.img-responsive {
    height: auto;
    max-width: 100%;
}

.column {
    width: 50%;
}

h3 {
    color: black;
    padding: 10px;
}

p {
    padding: 10px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    color: black;
}