       /*ALL ELEMENTS*/ 

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 1.2rem;
            font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
            letter-spacing: 1px;
            transition: all ease-in-out 250ms;
        }

        body{
                    background-color:aliceblue;
                }
                
        /*ALL ELEMENTS*/ 



        

    
       
        /*FLEX*/
        
        .d-flex {
            display: flex;
            flex-wrap: wrap;
        }
        
        .between {
            justify-content: space-between;
        }

        /*FLEX*/


        

        /*HEADINGS*/

        h1 {
            font-size: 2rem;
            padding: 30px 0;
        }

        h1,
        h2 {
            letter-spacing: 5px;
            text-transform: uppercase;
        }

        .intro h1{
            padding-top: 0;
        }

        .contact h1{
            color: aliceblue;
        }

        /*HEADINGS*/




        /*GENERAL CONTENT*/

        section a {
            font-size: 1rem;
            display: inline-block;
            padding: 5px;
            border: 1px solid #4F5A6B;
            background-color: #4F5A6B;
            text-decoration: none;
            color: aliceblue;
        }
        
        section a:hover {
            border-color: #4F5A6B;
            background-color: aliceblue;
            color: #4F5A6B;
        }

        .container {
            width: 60vw;
            margin: 0 auto;
            padding: 20px;
        }
        
        /*GENERAL CONTENT*/




        /*NAVIFGATION*/

        nav {
            font-size: 2rem;
            position: fixed;
            width: 100%;
            background-color: #4F5A6B;
        }
        
        nav a {
            font-size: 1rem;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            line-height: 42px;
            color: aliceblue;
        }
        
        nav .navBar a {
            width: 100px;
        }
        
        nav .navBar a:hover {
            color: rgb(0, 0, 0, 0.5);
            letter-spacing: 2px;
        }
        
        nav .links a {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            color: aliceblue;
        }
        
        nav .links a:hover {
           color: rgb(0, 0, 0, 0.5);
        }
        
        /*NAVIFGATION*/



        /*paralax*/

        .parallax-bg {
         transition: initial;
}

        /*paralax*/




        /*HEADER*/

        .bgImage {
            width: 100%;
            padding: 18rem 0;
            background-image: url(Img/pexels-photo-696680.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center 0px;
        }
        
        .intro {
            background-color: rgba(10, 25, 50, 0.7);
            padding: 5%;
            color: aliceblue;
        }

        /*HEADER*/




        /*MY WORK*/
        
        .projectsCont {
            padding-bottom: 5%;
        }
        
        .projects {
            margin: 4% 0;
            display: flex;
            flex-wrap: wrap;
        }
        
        .proImage {
            background-color: #4F5A6B;
            text-align: center;
            flex: 1 1 30%;
        }
        
        .proContent {
            flex: 1 1 70%;
            padding-left: 20px;
        }
        
        .proContent p {
            text-align: justify;
            font-size: 1rem;
            padding: 10px 0;
        }
        
        /*MY WORK*/
        



        /*CONTACT*/

        .contact {
            background-color: #333;
            width: 100%;
        }
        
        form {
            margin: 15% auto;
            width: 70%;
            color: aliceblue;
        }
        
        input,
        input[type=submit],
        textarea {
            border-color: #4F5A6B;
            border-style: solid;
            background-color: #4F5A6B;
            padding: 5px;
            margin-top: 15px;
            width: 100%;
            display: block;
            resize: none;
        }
        
        input::placeholder,
        input,
        input[type=submit],
        textarea,
        select,
        textarea::placeholder {
            color: aliceblue;
        }
        
        input[type=submit]:hover {
            background-color: aliceblue;
            border-color: aliceblue;
            color: #4F5A6B;
        }

        /*CONTACT*/




        /*FOOTER*/

        footer {
            color: aliceblue;
            text-align: center;
            background-color: #4F5A6B;
            bottom: 0;
        }

        /*FOOTER*/