/*General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
}

.content {
    padding: 2%;
}


/*borders*/

.borderLeft {
    border-left: 2px solid black;
}

.borderRight {
    border-right: 2px solid black;
}


/* Flex*/

.flex {
    width: 100%;
    display: flex;
}

.col-2 {
    flex: 1 1 20%;
    background-color: grey;
}

.col-3 {
    flex: 1 1 calc(100%/3);
    background-color: darkgrey;
}

.col-4 {
    flex: 1 1 40%;
    background-color: ;
}

.col-8 {
    flex: 1 1 80%;
    background-color: lightgrey;
}


/*Header*/

header {
    background-color: rgb(0, 0, 0, 0.8);
}

section {
    color: aliceblue;
    background-color: rgb(0, 0, 0, 0.9);
}