/*General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
    transition: all ease-in-out 250ms;
}

body {
    width: 100%;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 70%;
}

section {
    padding: 10vh 0;
}


/* Flex*/

.flex {
    width: 100%;
    display: flex;
}

.centerItems {
    align-items: center;
}

.jc {
    justify-content: center;
}

.sb {
    justify-content: space-between;
}

.col-1 {
    flex: 1 1 10%;
}

.col-2 {
    flex: 1 1 20%;
}

.col-3 {
    flex: 1 1 calc(100%/3);
    background-color: darkgrey;
}

.col-4 {
    flex: 1 1 40%;
    background-color: lightgreen;
}

.col-5 {
    flex: 1 1 50%;
}

.col-8 {
    flex: 1 1 80%;
}

.col-9 {
    flex: 1 1 90%;
}


/*Navigation*/

nav {
    top: 0;
    height: 10vh;
    font-size: 1.2rem;
    width: 100%;
    background-color: rgb(73, 73, 73);
    position: fixed;
    color: aliceblue;
}

.navContainer {
    margin: 0 auto;
    width: 70%;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav .navBar a {
    padding-right: 10px;
    display: inline-block;
}

nav .links a {
    display: inline-block;
    padding-left: 10px;
}

nav .navBar a:hover,
nav .links a:hover {
    color: rgb(36, 35, 35);
}


/*Header*/

header {
    margin-top: 10vh;
    height: 100vh;
}

.intro {
    width: 50%;
}


/*ABOUT*/

.about {
    height: 100vh;
}


/*Contact*/

.contact {
    height: 90vh;
    background-color: lightcyan;
}

footer {
    background-color: rgb(73, 73, 73);
    color: aliceblue;
    text-align: center;
    padding: 15px 0;
}