.grid {
    width: 80%;
    min-width: 100vh;
    border: 1px solid red;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 100px 1fr 100px;
    grid-template-areas: "header header" "aside main" "footer footer";
}

header {
    background-color: grey;
    padding: 1rem;
    grid-area: header;
}

main {
    background-color: darkgrey;
    padding: 1rem;
    grid-area: main;
}

aside {
    background-color: lightgray;
    padding: 1rem;
    grid-area: aside;
}

footer {
    background-color: red;
    padding: 1rem;
    grid-area: footer;
}

@media screen and (max-width:800px) {
    body {
        background-color: darkcyan;
    }
    .grid {}
}